<header id="header">
    <div id="logo-wrapper">
        <a id="logo" href="/main">BlackJack</a>
    </div>
    <nav id="header-navigation-panel" aria-label="Главное меню">
        <ul id="header-navigation-list">
            {{#isAuth user}}
            <li><a class="navigation-button" href="/lobby/rooms">Лобби</a></li>
            <li><a id="logout" class="navigation-button" href="#">Выйти</a></li>
            {{else}}
            <li><a class="navigation-button" href="/authorization/login">Вход</a></li>
            <li><a class="navigation-button" href="/authorization/register">Регистрация</a></li>
            {{/isAuth}}
        </ul>
    </nav>
</header>
{{#isAuth user}}
    {{#contentFor "scripts"}}
        <script src="/scripts/logout.js"></script>
    {{/contentFor}}
{{/isAuth}}
