<header id="header">
    <div id="logo-wrapper">
        <a id="logo" href="/main">
            Chorniy Yaugen
        </a>
    </div>
    
    <nav id="header-navigation-panel">
        <ul id="header-navigation-list">
            {{#isAuth user}}
            <li><a class="navigation-button" href="/loby/rooms">Rooms</a></li>
            <li><a id="logout" class="navigation-button">logout</a></li>
            {{else}}
            <li><a class="navigation-button" href="/authorization/login">login</a></li>
            <li><a class="navigation-button" href="/authorization/register">register</a></li>
            {{/isAuth}}
        </ul>
    </nav>
</header>
{{#isAuth user}}
    {{#contentFor "scripts"}}
        <script src="/scripts/logout.js"></script>
    {{/contentFor}}
{{/isAuth}}
