<h1>hello, this is register menu</h1>

<form id="register-form" method="POST" action="/api/register">
    <label for="nickname-input">nickname:</label>
    <input type="text" name="nickname" id="nickname-input">

    <label for="email-input">email:</label>
    <input type="email" id="email-input" name="email">

    <label for="password-input">password</label>
    <input type="password" id="password-input" name="password">

    <label for="password-repeat-input">repeat password</label>
    <input type="password" id="password-repeat-input" name="password-repeat">
    <button type="submit">submit</button>
</form>
<p id="form-status"></p>
{{#contentFor "scripts"}}
    {{> (lookup @root "scripts")}}
{{/contentFor}}


