<!DOCTYPE html>
<html lang="en">
    <head>
        {{{block "head"}}}
        {{{block "styles"}}}
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
    {{> "header"}}
        {{{body}}}
    {{> "footer"}}
    {{{block "scripts"}}}
    </body>
</html>