<!DOCTYPE html>
<html lang="en">
    <head>
        {{{block "head"}}}
        {{{block "styles"}}}
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    {{> "header"}}
    <body>
        {{{body}}}
    {{{block "scripts"}}}
    {{> "footer"}}
    </body>
</html>