    <main>
        
    </main>

    {{#contentFor "scripts"}}
        {{> (lookup @root "scripts")}}
    {{/contentFor}}

    {{#contentFor "styles"}}
        <link rel="stylesheet" href="/css/styles.css">
    {{/contentFor}}