<h1>Привет, {{user.name}}</h1>
<p>Баланс: {{user.balance}}</p>
<p><a href="/lobby/rooms">Перейти в лобби → создать или выбрать комнату</a></p>
{{#contentFor "scripts"}}
    {{> "socket.io.scripts"}}
{{/contentFor}}