<main>
    <ul>
        <li>
            <div class="room-meta">
                {{#with room-meta}}
                {{name}}
                {{description}}
                {{id}}
                {{/with}}
            </div>
        </li>
    </ul>
</main>